.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #f0f5f8;
}

.form {
  width: 50vmin;
  height: 50vmin;
  padding: 3vmin;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);

  input {
    height: 40px;
    font-weight: normal;
  }

  button {
    height: 40px;
    width: 100%;
  }

  p {
    color: rgb(204, 204, 204);
    text-align: center;
    margin-top: 16px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  .forget {
    float: right;
  }
}

.logo {
  text-align: center;
  cursor: pointer;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100px;
    margin-right: 8px;
  }

  span {
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    color: #f90;
  }
}

.ant-spin-container,
.ant-spin-nested-loading {
  height: 100%;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}